@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$main-font: "Quicksand", sans-serif;

$input-primary: #c3d0e1;
$input-accent: #ced5df;
$button: #025BFF;
$button-hover: #003CBD;
$background: #000D26;
$foreground: whitesmoke;

body {
    background-color: $background;
    color: $foreground;
}

#heading {
    padding-bottom: 20px;
}

#wrapper {
    font-family: $main-font;
    width: 700px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    zoom: 1.5;
}

#input-wrapper {
    position: relative;
}

.currency-button {
    margin-right: 256px;
    margin-left: -245px;
    border: 2px solid $button-hover;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.currency-button:hover {
    background-color: $button;
    border: 2px solid $button;
}

.currency-button.active {
    background-color: $button;
    color: $foreground;
    border: 2px solid $button;
}

.currency-button input[type='radio'] {
    display: none;
}

#currency-icon {
    pointer-events: none;
    position: absolute;
    left: 5px;
    padding-top: 60px;
    filter: invert(76%) sepia(46%) saturate(5026%) hue-rotate(197deg) brightness(99%) contrast(87%)
}

#currency {
    width: 40px;
    height: 40px;
}

#input {
    width: 100%;
    text-align: center;
    padding: 15px 50px 15px 50px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: $input-primary;
    color: black;
    font-size: 1.5em;
    text-align: center;
    background-size: 20px;
}

#input:focus {
    outline: none;
    background-color: $input-accent;
}

#wallet-btn {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: $button;
    border: none;
    transition: all 0.3s ease;
}

#wallet-btn:hover {
    background-color: $button-hover;
}