#collection-dropdown {
    left: 100px;

    .dropdown-menu {
        height: 200px;
        overflow-y: scroll;
        background-color: black;


        .dropdown-item {
            color: white;
            border-bottom: 1px solid blue;
        }
    }

}

.dropdown-menu::-webkit-scrollbar {
    width: 5px;

}

.dropdown-menu::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: black;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 50px;
    background-color: whitesmoke;
}