$primary-color: #051738;
$card-color: #0F2140;

$button: #025BFF;
$button-hover: #003CBD;
$background: #000D26;

#card-wrapper {
    margin: 0 auto;
    background-color: $primary-color;
    width: 78%;
}

#title {
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}

#nft-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.nft-card {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: $card-color;
    margin-bottom: 50px;
    border-radius: 20px 20px 0 0;
}

.nft-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.nft-name {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

.nft-footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $card-color;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
}

.nft-collection-logo {
    width: 40px;
    /* Adjust as needed */
    height: 40px;
    /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
}

.nft-floor-price {
    margin: 0;
    color: white;
}